<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SK</title>
	<!-- <link Google Font> -->
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/ticket.css">
</head>
<body>
<main>
	<div class="seatchart"></div>
	<button class="button book">Book Tickets</button>
	<div class="seatbooking"></div>
</main>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../../assets/javascripts/ticket.js"></script>
</body>
</html>