<div class="display-container">
    <div id="speakers-wrapper">
        <fieldset>
            <legend>SEAT BOOKING</legend>
        </fieldset>
    </div>
    <div id="seat-map"></div>
    <div class="booking-details">
        <div class="ticket-container">
          <div class='flex-row'>
            <div class='ticks'>
                <p id="paragraph">TICKETS:</p>
                <div class="ticks">
                    <p></p>
                </div>
                <p id="counter"><b>0</b></p>
            </div>
            <div class='ticks'>
                <p id="paragraph">TOTAL:</p>
                <div class="ticks">
                    <p>
                        $
                    </p>
                </div>
                <p id="total">
                    <b>0</b>
                </p>
            </div>
          </div>

          <div class='flex-row'>

<!--             <div class="btn-book">
                <button class="checkout-button">BOOK</button>
            </div> -->
            <%= form_for :post, url: '/seatings' do |f| %>
		        <%= f.text_field :seats, :class => 'seats-input', :value => @seatsarray.flatten %>
		        <%= f.submit "Book Seats", :class => 'checkout-button' %>
		    <% end %>
            <div class="btn-reset">
                <button class="reset-button">RESET</button>
            </div>
          </div>
        </div>
        <!-- <div id="legend"></div> -->
    </div>
    <div style="clear:both"></div>
</div>
<div id="bookingEnd"></div>

