<!DOCTYPE html>
<html>

<head>
    <title>Seats</title>

</head>
<div class="display-container">
    <div id="seat-map">

    </div>
    <div class="booking-details">
        <p>Seat: </p>
        <ul id="selected-seats"></ul>
        <p> Tickets: <span id="counter">0</span></p>
        <p> Total: <b>$<span id="total">0</span></b></p>

        <button class="checkout-button">BOOK</button>

        <!-- <div id="legend"></div> -->
    </div>
    <div style="clear:both"></div>
</div>


</body>

</html>
