
        <div id="Conf_Location">
            <h1 = id="h1">WDI Conference 2016</h1>
            <p>Technology moves fast and Australia’s leading and emerging startups will be showcasing products and services that are pushing boundaries in adult entertainment. WDI CONF is your chance to hear from the emerging masters of the web from around the
                country that are changing the future. This 1 day event will provide access to keynote speakers, exhibitors and networking opportunities, as well as opprtunities for investors to find new sources of innovation.</p>
            <h2 id="h2">Location</h2>
            <h3 id="h3">Address:</h3>
            <p>L12A 45 William Street,</p>
            <p>Melbourne VIC 3000,</p>
            <p>Australia</p>
            <h3 id="h3">Transport:</p>
            <p>Tram routes 55/11/12/48/109</p>
            <p>Stop Collins Street</p>
            <div id="Map">
							<div id="map" style="max-width: 260px; height: 300px;"></div>
								<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLglhvrIlB71_vubxvI3FtkJnB58BU-Wo&callback=initMap" async defer></script>

            </div>
        </div>

        <div id="timetable">
            <img src="conference.jpeg" width="100%" height="150%">
            <h3 id="h3">Conference Timetable:</p>
            <ul>
                <li>9.00am Ephram</li>
                <li>9.30am Stephen</li>
                <li>10.00am Mark</li>
                <li>10.30am Morning Tea</li>
                <li>11.00am Yogi</li>
                <li>11.30am Luke</li>
                <li>12.00pm Thomas</li>
                <li>12.30pm Lunch</li>
                <li>1.00pm Brad</li>
                <li>1.30pm Peter</li>
                <li>2.00pm Will</li>
                <li>2.30pm Chris</li>
                <li>3.00pm Jason</li>
                <li>3.30pm Afternoon Tea</li>
                <li>4.00pm Joel</li>
                <li>4.30pm Niall</li>
                <li>5.00pm Event drinks at the bar</li>
            </ul>
        </div>
