		<footer class="footer-distributed" id="footer">
			<div class="footer-left">
				<h3>WDI-Conference<span></br>logo</span></h3>

				<p class="footer-links">
					·	<a class="footerlinks" href="#Conf_Location">Location</a></br>
					·	<a class="footerlinks" href="#timetable">Time Table</a></br>
					·	<a class="footerlinks" href="#Profile">Profile</a></br>
					· <a class="footerlinks" href="#Seats">Seating</a></br>
					·	<a class="footerlinks" href="#Booking">Bookings</a></br>
					·	<a class="footerlinks" href="#Sponsors">Sponsors</a></br>
				</p>

				<p class="footer-company-name">WDI-Campions &copy; 2016</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>12a/45 William St</span> Melbourne VIC 3000</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>(03) 8592 7303</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@generalassemb.ly">support@generalassemb.ly</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Australia’s leading startup producer will be showcasing products and services that are pushing boundaries in adult entertainment.
				</p>

				<div class="footer-icons">

					<a href="http://facebook.com"><i class="fa fa-facebook"></i></a>
					<a href="http://twitter.com"><i class="fa fa-twitter"></i></a>
					<a href="http://linkedin.com"><i class="fa fa-linkedin"></i></a>
					<a href="http://github.com"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>

	</body>

</html>
