<nav class="navbar" id="slider">
  <div class="Nav-container" >
    <a class="links" id="top" href="#splash">Top</a></br>
    <a class="links" id="conf" href="#Conf_Location">Location</a></br>
    <a class="links" id="time" href="#timetable">Time Table</a></br>
    <a class="links" id="profile" href="#Profile">Profile</a></br>
    <a class="links" id="seats" href="#seats">Seating</a></br>
    <!-- <a class="links" href="#Booking">Bookings</a></br> -->
    <a class="links" id="sponsor" href="#sponsors-wrapper">Sponsors</a></br>
    <a class="links" id='foot' href="#footer">Footer</a></br>
  </div>
</nav>
