<nav class="navbar navbar-fixed-top">
  <div class="container">
    <a class="links" href="#splash">Splash</a></br>
    <a class="links" href="#Conf_Location">Location</a></br>
    <a class="links" href="#timetable">Time Table</a></br>
    <a class="links" href="#Profile">Profile</a></br>
    <a class="links" href="#Seats">Seating</a></br>
    <a class="links" href="#Booking">Bookings</a></br>
    <a class="links" href="#Sponsors">Sponsors</a></br>
    <a class="links" href="#footer">footer</a></br>
  </div>
</nav>
