<div id="timetable">
	<section id="timeline">

		<article>
			<div class="inner">
				<span class="timing">
					<span class="dots"><img id="tmb" src="/assets/ephrem_tn.jpg"></span>
				</span>
				<div class="dropProfile">
					<h2 >9.00 am - Ephrem Akele</h2>
				</div>
				<div class="dropContent">
					<p>Security Concerns of a Front-End Framework - where Ephrem will speak about the dangers of poor implementation using real world examples.</p>
				</div>
			</div>
		</article>
		<article>
			<div class="inner">
				<span class="timing">
					<span class="dots"><img id="tmb" src="/assets/stephen_tn.jpg"></span>
				</span>
			</span>
			<div class="dropProfile">
				<h2>9.45 am - Stephen Khoo</h2>
			</div>
			<div class="dropContent">
				<p>Pokemon Go and the Future of Augmented Reality - where Stephen will demonstrate the augmented reality of Pokemon Go and similiar games and discuss the impact on human existance.</p>
			</div>
		</div>
	</article>
	<article>
		<div class="inner">
			<span class="timing">
				<span class="dots"><img id="tmb" src="/assets/mtea_tn.jpg"></span>
			</span>
		</span>
		<div class="dropProfile">
			<h2>10.30 am Morning Tea</h2>
		</div>
		<div class="dropContent">
			<p>Network with others in the common area and enjoy the yummy morning tea sponsored by Ember.</p>
		</div>
	</div>
</article>
<article>
	<div class="inner">
		<span class="timing">
			<span class="dots"><img id="tmb" src="/assets/yogi_tn.jpg"></span>
		</span>
	</span>
	<div class="dropProfile">
		<h2>11.00 am - Yogi</h2>
	</div>
	<div class="dropContent">
		<p>Gamifying Your Working life - to build a better work life balance and make life fun! Not to be missed.</p>
	</div>
</div>
</article>
<article>
<div class="inner">
	<span class="timing">
		<span class="dots"><img id="tmb" src="/assets/luke_tn.jpg"></span>
	</span>
</span>
<div class="dropProfile">
	<h2>11.45 am - Luke Phelan</h2>
</div>
<div class="dropContent">
	<p>Machine Learning with TensorFlow - A journey through the development of machince learning and it modern incarnations.</p>
</div>
</div>
</article>
<article>
<div class="inner">
<span class="timing">
	<span class="dots"><img id="tmb" src="/assets/lunch_tn.jpg"></span>
</span>
</span>
<div class="dropProfile">
<h2>12.30 am - Lunch</h2>
</div>
<div class="dropContent">
<p>A scrumptous lunch in the red room sponsered by Angular Javascript.</p>
</div>
</div>
</article>
<article>
<div class="inner">
<span class="timing">
<span class="dots"><img id="tmb" src="/assets/brad_tn.jpg"></span>
</span>
</span>
<div class="dropProfile">
<h2>1.00 pm - Brad Wynter</h2>
</div>
<div class="dropContent">
<p>Event Programming Design for Real-World Problems - Will cover the evolution of the different database strategies leading to event programming.</p>
</div>
</div>
</article>
<article>
<div class="inner">
<span class="timing">
<span class="dots"><img id="tmb" src="/assets/yang_tn.jpg"></span>
</span>
</span>
<div class="dropProfile">
<h2>1.45 pm - Yang Li</h2>
</div>
<div class="dropContent">
<p>Teaching as a Means of Learning - Yang's journey of enlightenment and pure knowledge.</p>
</div>
</div>
</article>
<article>
<div class="inner">
<span class="timing">
<span class="dots"><img id="tmb" src="/assets/mark_tn.jpg"></span>
</span>
</span>
<div class="dropProfile">
<h2>2.30 pm - Mark Cronje</h2>
</div>
<div class="dropContent">
<p>Automation and the Luddites - From the perspective of an automated luddite.</p>
</div>
</div>
</article>
<article>
<div class="inner">
<span class="timing">
<span class="dots"><img id="tmb" src="/assets/atea_tn.jpg"></span>
</span>
</span>
<div class="dropProfile">
<h2>3.15 pm - Afternoon Tea</h2>
</div>
<div class="dropContent">
<p>Coffee and tea break to fuel the system for the rest of the day. Sponsored by Rails.</p>
</div>
</div>
</article>
<article>
<div class="inner">
<span class="timing">
<span class="dots"><img id="tmb" src="/assets/thomas_tn.jpg"></span>
</span>
</span>
<div class="dropProfile">
<h2>3.30 pm - Thomas Kanze</h2>
</div>
<div class="dropContent">
<p>How VR Will Shape The World of Tomorrow - where Thomas will do the presentation in VR.</p>
</div>
</div>
</article>
<article>
<div class="inner">
<span class="timing">
<span class="dots"><img id="tmb" src="/assets/niall_tn.jpg"></span>
</span>
</span>
<div class="dropProfile">
<h2>4.15 pm - Niall O'Callaghan</h2>
</div>
<div class="dropContent">
<p>Developing Web Applications for Structural Engineers - using real world solutions.</p>
</div>
</div>
</article>
<article>
<div class="inner">
<span class="timing">
<span class="dots"><img id="tmb" src="/assets/drinks_tn.jpg"></span>
</span>
</span>
<div class="dropProfile">
<h2>5.00 pm - Event drinks at the bar</h2>
</div>
<div class="dropContent">
<p>Continue to network with event drinks at the bar.</p>
</div>
</div>
</article>

</section>
</div>
