<section id="timeline">
  <article>
    <div class="inner">
      <span class="date">
        <span class="day"> </span>
        <span class="month">9.00</span>
        <span class="year">am</span>
      </span>
      <h2>9.00 am - Ephrem Akele</h2>
      <p>Security Concerns of a Front-End Framework - where Ephrem will speak about the dangers of poor implementation using real world examples.</p>
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="day"> </span>
        <span class="month">9.45</span>
        <span class="year">am</span>
      </span>
      <h2>9.45 am - Stephen Khoo</h2>
      <p>Pokemon Go and the Future of Augmented Reality - where Stephen will demonstrate the augmented reality of Pokemon Go and similiar games and discuss the impact on human existance.</p>
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="day"> </span>
        <span class="month">10.30</span>
        <span class="year">am</span>
      </span>
      <h2>10.30 am Morning Tea</h2>
      <p>Network with others in the common area and enjoy the yummy morning tea sponsored by Ember.</p>
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="day"> </span>
        <span class="month">11.00</span>
        <span class="year">am</span>
      </span>
      <h2>11.00 am - Yogi</h2>
      <p>Gamifying Your Working life - to build a better work life balance and make life fun! Not to be missed.</p>
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="day"> </span>
        <span class="month">11.45</span>
        <span class="year">am</span>
      </span>
      <h2>11.45 am - Luke Phelan</h2>
      <p>Machine Learning with TensorFlow - A journey through the development of machince learning and it modern incarnations.</p>
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="day"></span>
        <span class="month">12.30</span>
        <span class="year">am</span>
      </span>
      <h2>12.30 am - Lunch</h2>
      <p>A scrumptous lunch in the red room sponsered by Angular Javascript.</p>
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="day"></span>
        <span class="month">1.00</span>
        <span class="year">pm</span>
      </span>
      <h2>1.00 pm - Brad Wynter</h2>
      <p>Event Programming Design for Real-World Problems - Will cover the evolution of the different database strategies leading to event programming.</p>
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="day"> </span>
        <span class="month">1.45</span>
        <span class="year">pm</span>
      </span>
      <h2>1.45 pm - Yang Li</h2>
      <p>Teaching as a Means of Learning - Yang's journey of enlightenment and pure knowledge.</p>
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="day"> </span>
        <span class="month">2.30</span>
        <span class="year">pm</span>
      </span>
      <h2>2.30 pm - Mark Cronje</h2>
      <p>Automation and the Luddites - From the perspective of an automated luddite.</p>
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="day"> </span>
        <span class="month">3.15</span>
        <span class="year">pm</span>
      </span>
      <h2>3.15 pm - Afternoon Tea</h2>
      <p>Coffee and tea break to fuel the system for the rest of the day. Sponsored by Rails.</p>
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="day"> </span>
        <span class="month">3.30</span>
        <span class="year">pm</span>
      </span>
      <h2>3.30 pm - Thomas Kanze</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="day"> </span>
        <span class="month">4.15</span>
        <span class="year">pm</span>
      </span>
      <h2>4.15 pm - Niall O'Callaghan</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="day"> </span>
        <span class="month">5.00</span>
        <span class="year">pm</span>
      </span>
      <h2>5.00 pm - Event drinks at the bar</h2>
      <p>.</p>
    </div>
  </article>
</section>
