<h1>Speakers</h1>
<div id="Profile">
<div class="container">

  <div class="grid-element">
  <h2>Thomas Kanze</h2>
    <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAQXAAAAJDYwYzRlYzkzLWEzZDUtNGU1Ny05NzNlLTIxMjQzZmNiZDliMg.jpg" class="profile-pic">
    <h3>Web Developer</h3>
    <p class="speaker-topic">Thomas is giving a talk on Ember</p>
  </div>

  <div class="grid-element">
    <h2>Luke Phelan</h2>
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAbUAAAAJGU3MWRkNzExLWQxNjctNDI0OC04MTNhLTAwNDc2MmRkOTMwYw.jpg" class="profile-pic">
    <h3>Web Developer</h3>
    <p class="speaker-topic">Luke is giving a talk on creating a Python Slackbot</p>
  </div>

  <div class="grid-element">
    <h2>Yogi</h2>
    <img src="https://media.licdn.com/media/p/6/005/066/2af/3b4e0f6.jpg" class="profile-pic">
    <h3>Web Developer</h3>
    <p class="speaker-topic">Yogi is giving a talk about Ruby on Rails</p>
  </div>

  <div class="grid-element">
    <h2>Stephen Koo</h2>
    <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAbsAAAAJDY1MDg2ZDIxLTgyNDYtNDE5OC1hMTY0LWZmZTcyZTJhYzM2NA.jpg" class="profile-pic">
    <h3>Web Developer</h3>
    <p class="speaker-topic">Stephen is talking about Websockets</p>
  </div>

  <div class="grid-element">
    <h2>Ephrem Akele</h2>
    <img src="https://media.licdn.com/media/p/6/005/066/2af/3b4e0f6.jpg" class="profile-pic">
    <h3>Web Developer</h3>
    <p class="speaker-topic">Ephram is talking about Linux</p>
  </div>

  <div class="grid-element">
    <h2>Mark Cronje</h2>
    <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAXAAAAAJDg5MGM2MTJhLTE0YWQtNGE0ZS1hMzljLTEzMzRiNzJiNDJmYQ.jpg" class="profile-pic">
    <h3>Web Developer</h3>
    <p class="speaker-topic">Mark is talking about technology in the real estate sector</p>
  </div>

  <div class="grid-element">
    <h2>Brad Wynter</h2>
    <img src="images/brad.jpg" class="profile-pic">
    <h3>Web Developer</h3>
    <p class="speaker-topic">Brad is talking about innovation in the Government sector</p>
  </div>

  <div class="grid-element">
    <h2>Yang Li</h2>
    <img src="https://media.licdn.com/media/p/3/000/1af/12b/3046091.jpg" class="profile-pic">
    <h3>Instructor</h3>
    <p class="speaker-topic">Yang Li is an instructor and will talk about how people learn</p>
  </div>

  <div class="grid-element">
    <h2>Yang Li</h2>
    <img src="https://media.licdn.com/media/p/3/000/1af/12b/3046091.jpg" class="profile-pic">
    <h3>Instructor</h3>
    <p class="speaker-topic">Yang Li is an instructor and will talk about how people learn</p>
  </div>

  <div class="grid-element">
    <h2>Yang Li</h2>
    <img src="https://media.licdn.com/media/p/3/000/1af/12b/3046091.jpg" class="profile-pic">
    <h3>Instructor</h3>
    <p class="speaker-topic">Yang Li is an instructor and will talk about how people learn</p>
  </div>

  <div class="grid-element">
    <h2>Yang Li</h2>
    <img src="https://media.licdn.com/media/p/3/000/1af/12b/3046091.jpg" class="profile-pic">
    <h3>Instructor</h3>
    <p class="speaker-topic">Yang Li is an instructor and will talk about how people learn</p>
  </div>

  <div class="grid-element">
    <h2>Yang Li</h2>
    <img src="https://media.licdn.com/media/p/3/000/1af/12b/3046091.jpg" class="profile-pic">
    <h3>Instructor</h3>
    <p class="speaker-topic">Yang Li is an instructor and will talk about how people learn</p>
  </div>

  <div class="grid-element">
    <h2>Yang Li</h2>
    <img src="https://media.licdn.com/media/p/3/000/1af/12b/3046091.jpg" class="profile-pic">
    <h3>Instructor</h3>
    <p class="speaker-topic">Yang Li is an instructor and will talk about how people learn</p>
  </div>

  <div class="grid-element">
    <h2>Yang Li</h2>
    <img src="https://media.licdn.com/media/p/3/000/1af/12b/3046091.jpg" class="profile-pic">
    <h3>Instructor</h3>
    <p class="speaker-topic">Yang Li is an instructor and will talk about how people learn</p>
  </div>

</div>
</div>
