<nav class="navbar navbar-fixed-top">
  <div class="container">
    <a class="link" href="#splash">Splash</a>
    <a class="link" href="#Profile">Profile</a>
    <a class="link" href="#sponsors">Sponsors</a>
  </div>
</nav>
