#body {
		font-family: verdana;
		font-color: white;
}

#h3 {
	color: black;
}

#p {
    color: white;
}

.conference {
	// max-width: 800px;
	margin: 5px;
	height: 100%;
}

#Elem2 {
	margin-left: 100px;
	text-color: black;
}

#map{
	// display: right;
	// margin-left: 5 px;
	margin-top: 100px;
	// border: 2px solid black;
	// border-radius: 20px;
}

#group{
    display: -webkit-flex;
    display: flex;
    width: 90%;
    height: 250px;
    margin-left: 30px;
}

#where{
	width: 30%
}

#description{
	margin-left: 50px;
	width: 50%;
	margin: 20px;
}

.map {
    -webkit-filter: grayscale(80%);
       -moz-filter: grayscale(80%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(80%);
}
