#h3 {
	color: black;
}

.conference {
	margin: 5px;
	height: 100%;
}

#Elem2 {
	margin-left: 100px;
	text-color: black;
}

#map{
	-webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(80%);
	margin-top: 100px;
}

#group{
    display: -webkit-flex;
    display: flex;
    width: 90%;
    height: 300px;
    margin-left: 30px;
}

#description{
	width: 30%;
	margin: 50px;
}

#where{
	margin: 20px;
	width: 30%
}
