nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  max-width: 8%;
  height: 100%;
  background: #C3C3C3;
  opacity: 0.8;
  margin-right: 0.5%
}
.container {
  justify-content: flex-end !important;
}
.links {
  width: 100%;
  display: block;
  text-align:center;
  z-index: 3;
  color: black;
  margin: 15% 10%;
  font-size: 1em;
  text-shadow:
        3px 3px 0 #D5E441,
      -1px -1px 0 #D5E441,
       1px -1px 0 #D5E441,
       -1px 1px 0 #D5E441,
        1px 1px 0 #D5E441;
  text-decoration: none !important;
  opacity: 0.5;
  padding: 0;
}
.links:link {
  opacity: 1;
  color:   black ;
  text-decoration: none !important;
  opacity: 0.7;
}
.links:visited {
  opacity: 1;
  color: black;
  text-decoration: none !important;
  opacity: 0.7;

}
.links:hover {
  opacity: 1;
  // background: gray;
  transform: scale(1.6);
  color: black;
  text-decoration: none !important;
  opacity: 0.7;
}
.links:active {
  opacity: 1;
  color: black;
  text-decoration: none !important;
  opacity: 0.7;
}
