nav {
  text-align:right;
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 2;
  max-width: 100px;
  opacity: 0.8;
  margin-right: -30%;
  margin-top: 5%;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
}
.Nav-container {
  justify-content: flex-end !important;
}


.links {
  width: 100%;
  display: block;
  text-align:right;
  z-index: 3;
  color: #282CC1;
  margin: 15% 5% 5% 5%;
  font-size: 1.2em;
  text-shadow:
        1px 1px 0 #bbbbbb,
      0px 0px 0 #bbbbbb,
       1px 1px 0 #bbbbbb,
       0px 0px 0 #bbbbbb,
        1px 1px 0 #bbbbbb;
  text-decoration: none !important;
  opacity: 0.9;
  padding: 0;
}
.links:link {
  text-align:right;
  opacity: 1;
  color:   #282CC1 ;
  text-decoration: none !important;
  opacity: 0.7;
}
.links:visited {
  text-align:right;
  opacity: 1;
  color: #282CC1;
  text-decoration: none !important;
  opacity: 0.7;

}
.links:hover {
  text-align:right;
  opacity: 1;
  // background: gray;
  transform: scale(1.2);
  z-index: 5000;
  color: #282CC1;
  text-decoration: none !important;
  opacity: 0.7;
}
.links:active {
  text-align:right;
  opacity: 1;
  color: #282CC1;
  text-decoration: none !important;
  opacity: 0.7;
}
a.links {
  width: 80%;
  margin: 5%;
}
nav, a{
  text-align:right;
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
