nav {
  position: fixed;
  top: 0;
  right: 3px;
  z-index: 2;
  max-width: 8%;
  // height: 100%;
  // background: #C3C3C3;
  opacity: 0.8;
  // margin-right: 1%;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
}
.Nav-container {
  justify-content: flex-end !important;
}


.links {
  width: 100%;
  display: block;
  text-align:center;
  z-index: 3;
  color: black;
  margin: 15% 10%;
  font-size: 1em;
  text-shadow:
        3px 3px 0 #D5E441,
      -1px -1px 0 #D5E441,
       1px -1px 0 #D5E441,
       -1px 1px 0 #D5E441,
        1px 1px 0 #D5E441;
  text-decoration: none !important;
  opacity: 0.5;
  padding: 0;
}
.links:link {
  opacity: 1;
  color:   black ;
  text-decoration: none !important;
  opacity: 0.7;
}
.links:visited {
  opacity: 1;
  color: black;
  text-decoration: none !important;
  opacity: 0.7;

}
.links:hover {
  opacity: 1;
  // background: gray;
  transform: scale(1.6);
  color: black;
  text-decoration: none !important;
  opacity: 0.7;
}
.links:active {
  opacity: 1;
  color: black;
  text-decoration: none !important;
  opacity: 0.7;
}

nav, a{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
.hidden {
  margin: -8%;
}
.visable {
  margin: 2%;
}
// a:before
// {
//     position: absolute;
//     width: 100%;
//     height: 2px;
//     left: 0px;
//     top: 0px;
//     content: '';
//     background: #FFF;
//     opacity: 0.3;
//     transition: all 0.3s;
// }
//
// a:hover:before
// {
//     height: 100%;
// }
