html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
body {
  background: #25303B;
}
#timetable{
	margin-top: 50px;
}
section#timeline {
  width: 80%;
  margin: 10px auto;
  position: relative;
}
section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 0px;
  width: 10px;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 3px;
}
section#timeline article div.inner span.timing {
  display: block;
  // width: 50px;
  // height: 45px;
  // padding: 5px 0;
  position: absolute;
  top: 0px;
  left: 50%;
  margin: 0 0 0 -21px;
  // border-radius: 100%;
}

section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px;
	height: 10px;
  -webkit-transform: rotate(-45deg);
}
section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
section#timeline article:nth-child(1) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(2) div.inner h2 {
  background: #2ecc71;
}
section#timeline article:nth-child(2) div.inner h2:after {
  background: #2ecc71;
}
section#timeline article:nth-child(3) div.inner h2 {
  background: #e67e22;
}
section#timeline article:nth-child(3) div.inner h2:after {
  background: #e67e22;
}
section#timeline article:nth-child(4) div.inner h2 {
  background: #1abc9c;
}
section#timeline article:nth-child(4) div.inner h2:after {
  background: #1abc9c;
}
section#timeline article:nth-child(5) div.inner h2 {
  background: #9b59b6;
}
section#timeline article:nth-child(5) div.inner h2:after {
  background: #9b59b6;
}
section#timeline article:nth-child(6) div.inner h2 {
  background: #ffff00;
}
section#timeline article:nth-child(6) div.inner h2:after {
  background: #ffff00;
}
section#timeline article:nth-child(7) div.inner h2 {
  background: #0000ff;
}
section#timeline article:nth-child(7) div.inner h2:after {
  background: #0000ff;
}
section#timeline article:nth-child(8) div.inner h2 {
  background: #00cc00;
}
section#timeline article:nth-child(8) div.inner h2:after {
  background: #00cc00;
}
section#timeline article:nth-child(9) div.inner h2 {
  background: #ff6600;
}
section#timeline article:nth-child(9) div.inner h2:after {
  background: #ff6600;
}
section#timeline article:nth-child(10) div.inner h2 {
  background: #1abc9c;
}
section#timeline article:nth-child(10) div.inner h2:after {
  background: #1abc9c;
}
section#timeline article:nth-child(11) div.inner h2 {
  background: #ff3399;
}
section#timeline article:nth-child(11) div.inner h2:after {
  background: #ff3399;
}
section#timeline article:nth-child(12) div.inner h2 {
  background: #336699;
}
section#timeline article:nth-child(12) div.inner h2:after {
  background: #336699;
}
section#timeline article:nth-child(13) div.inner h2 {
  background: #cccc00;
}
section#timeline article:nth-child(13) div.inner h2:after {
  background: #cccc00;
  background: #512da8;
}
section#timeline article:nth-child(1) div.inner h2:after {
  background: #512da8;
}
section#timeline article:nth-child(2) div.inner h2 {
  background: #ff4081;
}
section#timeline article:nth-child(2) div.inner h2:after {
  background: #ff4081;
}
section#timeline article:nth-child(3) div.inner h2 {
  background: #64b5f6;
}
section#timeline article:nth-child(3) div.inner h2:after {
  background: #64b5f6;
}
section#timeline article:nth-child(4) div.inner h2 {
  background: #ba68c8;
}
section#timeline article:nth-child(4) div.inner h2:after {
  background: #ba68c8;
}
section#timeline article:nth-child(5) div.inner h2 {
  background: #512da8;
}
section#timeline article:nth-child(5) div.inner h2:after {
  background: #512da8;
}
section#timeline article:nth-child(6) div.inner h2 {
  background: #ff4081;
}
section#timeline article:nth-child(6) div.inner h2:after {
  background: #ff4081;
}
section#timeline article:nth-child(7) div.inner h2 {
  background: #64b5f6;
}
section#timeline article:nth-child(7) div.inner h2:after {
  background: #64b5f6;
}
section#timeline article:nth-child(8) div.inner h2 {
  background: #ba68c8;
}
section#timeline article:nth-child(8) div.inner h2:after {
  background: #ba68c8;
}
section#timeline article:nth-child(9) div.inner h2 {
  background: #512da8;
}
section#timeline article:nth-child(9) div.inner h2:after {
  background: #512da8;
}
section#timeline article:nth-child(10) div.inner h2 {
  background: #ff4081;
}
section#timeline article:nth-child(10) div.inner h2:after {
  background: #ff4081;
}
section#timeline article:nth-child(11) div.inner h2 {
  background: #64b5f6;
}
section#timeline article:nth-child(11) div.inner h2:after {
  background: #64b5f6;
}
section#timeline article:nth-child(12) div.inner h2 {
  background: #ba68c8;
}
section#timeline article:nth-child(12) div.inner h2:after {
  background: #ba68c8;
}
section#timeline article:nth-child(13) div.inner h2 {
  background: #512da8;
}
section#timeline article:nth-child(13) div.inner h2:after {
  background: #512da8;
}

#tmb{
	border-radius: 50%;
	height: 55px;
	width: 50px;
	border: 2px solid rgba(0,0,0,0.2);
	box-shadow: 0 0 0 3px #25303B;
}
