// Place all the styles related to the seats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.front {
    width: 300px;
    margin: 5px 32px 45px;
    background-color: #f0f0f0;
    color: #666;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}
.booking-details h3 {
    margin: 5px 5px 0 0;
    font-size: 16px;
}
.booking-details p {
    line-height: 36px;
    font-size: 16px;
    color: #999;
}
.booking-details p span {
    float: left;
    color: #131a49;
    position: relative;
}
div.seatCharts-cell {
    color: #000000;
    height: 45px;
    width: 60px;
    line-height: 35px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 16px;
}
div.seatCharts-seat {
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div.seatCharts-row {
    height: 35px;
}
// seat color
div.seatCharts-seat.available {
    background-color: #8e24aa;
}
//seat mouse hover
div.seatCharts-seat.focused {
    background-color: #ba68c8;
    border: none;
}
div.seatCharts-seat.selected {
    background-color: #ff4081;
}
div.seatCharts-seat.unavailable {
    background-color: #546e7a;
    cursor: not-allowed;
}
div.seatCharts-container {
    width: 650px;
    padding: 40px;
    float: left;
}
div.seatCharts-legend {
    padding-left: 0;
    position: relative;
    height: 10%;
}
ul.seatCharts-legendList {
    padding-left: 0;
}
.seatCharts-legendItem {
    float: left;
    width: 90px;
    margin-top: 10px;
    line-height: 2;
}
span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
}
//booking selected seats button
.checkout-button {
    width: 100px;
    height: 34px;
    border-radius: 12px;
    margin: 14px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: none;
}
.reset-button {
    width: 100px;
    height: 34px;
    border-radius: 12px;
    margin: 14px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: none;
}
button:focus {
    outline: 0;
}
#selected-seats {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: none;
    width: 200px;
}
#selected-seats li {
    float: right;
    width: 72px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #000000;
    background: #ec5907;
    margin: 6px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
// ----------------------------------------
.display-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: black;
    // background-image: url('seat.jpg');
    height: 100%;
}
#seat-map {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 0;
    position: relative;
    width: auto;
    padding-left: 0;
    padding-right: 0;
}
.booking-details {
    margin: auto;
    padding-right: 300px;
    padding-top: 30px;
    position: relative;
    width: 100px;
    color: rgb(126, 129, 133);
}
// --------------------------------
#counter,#total {
    color: rgb(250, 187, 0);
}

.ticket-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    // background-image: url('seat.jpg');
    width: 100%;

}
.ticks {
    padding-left: 20%;
    width: 60px;
    display: flex;
}
.btn-book {
    padding-left: 20%;
    position: relative;
}
p {
    font-size: 16px;
    font-weight: bold;
}
