#Profile {
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 100px;
  background: url('dark_geometric.png');
  // background-size: cover;
}

#speakers-header {
  margin-left: 50px;
  margin-right: 150px;
}

#speakers-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  margin-left: 50px;
  margin-right: 150px;
}

.grid-element {
  flex: 1 0 30%;
  box-sizing: border-box;
  max-width: 350px;
  object-fit: contain;
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
}

.profile-pic {
  display: block;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: .2em solid #f1f1f1;
  // box-shadow:  0 1px 0 0 rgba(0,0,0,.1);
  object-fit: cover;
  object-position: top;
  transition: all 0.8s ease;
}

.profile-pic:hover {
  cursor: pointer;
  // border: .2em solid black;
}

.profile-text {
  margin-top: -3.5em;
  padding: 2.5em 0.75em 0.75em 0.75em;
  border-radius: 3px;
  background-color: #f1f1f1;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border: .2em solid #f1f1f1;
  transition: all 0.8s ease;
}

.profile-text:hover {
  cursor: pointer;
  // border: .2em solid black;
}

// .grid-element:hover {
//   cursor: pointer;
// }

.profile-name {
  margin-right: -1em;
  margin-bottom: .75em;
  margin-left: -1em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: .75em;
  font-size: 1.5em;
  text-transform: uppercase;
}

.profile-title {
  // color: rgb(10,10,10);
  font-style: italic;
}

.speaker-bio {
  font-style: italic;
}

/* The Modal (background) */
.modal-speaker {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: black;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #888;
    width: 35%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.github-logo {
  height: 25px;
  width: auto;
}

.linkedin-logo {
  height: 25px;
  width: auto;
}

.modal-link {
  color: white;
}

//
// .modal-link i {
//   // display: inline-block;
//   width: 35px;
//   height: 35px;
//   // cursor: pointer;
//   // background-color:  #33383b;
//   // border-radius: 2px;
//
//   font-size: 20px;
//   color: #ffffff;
//   // text-align: center;
//   // line-height: 35px;
//
//   // margin-right: 3px;
//   // margin-bottom: 5px;
// }
