.splash {
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
  height: 500px;
  font-family: 'Space Mono' ;


}

a {
  color:#0078ff;
}

.splash-animation {
  position: relative;
}

.logo {
  color: white;
  position: absolute;
  top: 240px;
  font-family: 'Space Mono' ;
  font-size: 85px;
  width:50%;
  height:100vh;


}


.call-to-action {
  position: relative; ;
}
