/*body {
  text-align: center;
}

#board {
  width: 600px;
  height: 600px;
  border-style: double;
  border-color: black;
  margin: 0 auto;
}*/

.row {
  border: solid black;
  display: flex;
  height: 50px;
}
.seat[data-booked="true"]
{
  background: blue;
}
.seat[data-selected="true"]
{
  background: red;
}
.seat {
  border: solid black;
  width: 50px;
}


/*.column {
  width: 200px;
  height: 200px;
  border-style:solid;
  border-color: black;
  transition: all .2s ease-in-out;
}

.column:hover {
  background-color: grey;
  transform: scale(1.25);
}*/